@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";

// fonts
@font-face {
  font-family: 'rusticoregular';
  src: url('./fonts/rustico-regular3-webfont.woff2') format('woff2'),
       url('./fonts/rustico-regular3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background: #f7f7f7;
}

.containter {
  padding: 1em;
}

.navbar {
  position: sticky;
  top: 0;
  box-shadow: 0 0px 3px rgba(10,10,10,.1);

  &-brand {
    padding: 0.5rem 0.75rem;
  }
}